.form-table th {
	font-weight:bold;
}

.form-table input.the_title {
	font-size:20px;
	padding:3px 8px;
}

#frmwk-optin_preview .inside {
	text-align:center;
}

#edit-slug-box {
	display:none;
}

.widefat th, .widefat td {
	overflow:visible;
}

.chzn-select {
	width:250px;
}

.theme_container {
	position: relative;
	background: url(../images/loader.gif) no-repeat center center;
	border: 1px solid #DDD;
	z-index: 0;
	border-image: initial;
	margin: 0px 5px 5px 0px;
	min-height:140px;
}

.theme_container:hover {
	background-color:#ffffff;
}

.theme_container img {
	padding: 5px;
	height:135px;
}

#postdivrich,
#postdiv {
	display:none !important;
}

#qoi-optin_preview .inside {
	text-align:center;
}