#tinybox {position:absolute; display:none; padding:0px; margin:0px; background:transparent url(images/preload.gif) no-repeat 50% 50%; border:none; z-index:2000}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {background:transparent;}