.chzn-select {
	min-width:300px;
}
#normal-sortables {
	font-size:14px;
}
.status_buttons .ui-button-text-only .ui-button-text {
	padding: 10px 20px;
	font-size:14px;
}
.status_buttons {
	margin:10px auto;
	width:100%;
	text-align:center;
}

/* Facebook implementation */
.uiGrid {
	text-align: left;
	padding: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	vertical-align: top;
}
.uiGrid .clearfix {
	display: block;
	zoom: 1;
}
.uiGrid .plugin .name {
	font-size: 16px;
	line-height: 24px;
}
.uiGrid .plugin .name, .uiGrid .plugin .desc {
	margin-left: 143px;
}
.uiGrid .thumbnail {
	float: left;
	margin-right: 10px;
}
.uiGrid .thumbnail .img {
	border: 1px solid #CCC;
}
.uiGrid a {
	ursor: pointer;
	color: #3B5998;
	text-decoration: none;
}

.uiGrid .check_container {
	padding-right:5px;
}

.uiGrid td {
	padding:0px;
}