.chzn-select {
	min-width:300px;
}
#normal-sortables {
	font-size:14px;
}
.status_buttons .ui-button-text-only .ui-button-text {
	padding: 10px 20px;
	font-size:14px;
}
.status_buttons {
	margin:10px auto;
	width:100%;
	text-align:center;
}

#comment_types .ui-button, #user_roles .ui-button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	margin-bottom:5px;
	width:auto;
	padding:3px 5px;
	font-size:18px;
}
#comment_types .ui-button span.chosen, #user_roles .ui-button span.chosen {
	display:none;
	color:#090;
	margin-left:5px;
}
#comment_types .ui-button.ui-state-active span.chosen, #user_roles .ui-button.ui-state-active span.chosen {
	display:inline;
}